.bg-black {
    color: white;
    background-color: black;
}

.bg-profile {
    background-image: url('../img/person1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 280px;
}

#main-header .port-item {
    width: 30%;
    cursor: pointer;
    opacity: 0.8;
}

@media (max-width: 786px){
    .bg-profile {
        min-height: 400px;
    }
}